@media screen and (min-width: 768px) {
    nav {
        max-width: 1200px;
        margin: 0 auto;
    }
    
    .hero {
        padding: 5rem;
    }
    
    .events, .weather, .spotlight {
        max-width: 800px;
        margin: 2rem auto;
    }
}