@media screen and (min-width: 768px) {
    header.header {
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
    }
    #menu{
        display: none;
    }
    header nav.navigation {
      display: block;
    }
    
    header nav ul {
      display: flex;
      justify-content: flex-end;
    }
    
    header nav ul li {
      padding: 0 1rem;
    }
    
    .hero-text {
      padding: 2rem 3rem;
      font-size: 1.2rem;
    }
    
    section {
      padding: 3rem 2rem;
    }
    
    .current-events article {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
    }
    
    .spotlights {
      display: flex;
      gap: 1rem;
    }
    
    .spotlights .spotlight {
      flex: 1;
    }
    
    .weather .weather-card {
      max-width: 400px;
      margin: 0 auto;
    }


    /* DISCOVER*/

    .discover-container {
      display: grid;
      grid-template-columns: 250px 1fr;
      grid-template-areas: 
        "sidebar gallery";
      gap: 20px;
      max-width: 1200px;
      margin: auto;
      min-height: 100vh;
    }
  
    .sidebar {
      grid-area: sidebar;
      height: fit-content;
    }
  
    .gallery {
      grid-area: gallery;
      max-height: 80vh;
      overflow-y: auto;
    }
  
    figure img {
      width: 80%;
      height: 326px;
    }
    /*Form*/
    .form-container {
      flex-direction: row;
      justify-content: space-between;
      align-items: flex-start;
    }
  
    form {
      flex: 2;
      margin-right: 2rem;
    }
  
    .membership-benefits {
      flex: 1;
      background: #ffffff;
      padding: 1rem;
      border-radius: 8px;
      box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    }
  
    .membership-benefits ul {
      padding-left: 1rem;
    }
  }
  